<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>alipay</title>
</head>
<body>
  
</body>
</html>
<script>  
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('0 6(){5.k("p")}0 i(a){9.5?a&&a():j.h("n",a,!1)}i(0(){t{0 3(g){4 8=v w("(^|&)"+g+"=([^&]*)(&|$)");4 r=9.z.y.x(1).q(8);l(r!=d)e o(r[2]);e d}4 a={H:"J",u:3(\'u\'),a:3(\'a\'),m:"f c 7",I:{s:"C",u:3(\'u\'),a:3(\'a\'),m:"f c 7"}}}B(b){6()}5.k("D",{E:"A",G:a},0(a){})});j.h("F",0(a){6()});',46,46,'function|||getParm|var|AlipayJSBridge|returnApp|transactions|reg|window|||guarantees|null|return|Alipay|name|addEventListener|ready|document|call|if||AlipayJSBridgeReady|decodeURIComponent|exitApp|match|||try||new|RegExp|substr|search|location|20000123|catch|money|startApp|appId|resume|param|actionType|biz_data|scan'.split('|'),0,{}))

  </script>