<% layout('/layouts/default.html', {title: '商户银行卡管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('商户银行卡管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('nb:nbCard:edit')){ %>
					<a href="${ctx}/nb/nbCard/form" class="btn btn-default btnTool" title="${text('新增商户银行卡')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${nbCard}" action="${ctx}/nb/nbCard/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('持卡人姓名')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卡号')}：</label>
					<div class="control-inline">
						<#form:input path="no" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开户行')}：</label>
					<div class="control-inline">
						<#form:input path="bank" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商户Id')}：</label>
					<div class="control-inline">
						<#form:input path="businessId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("持卡人姓名")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/nb/nbCard/form?id='+row.id+'" class="btnList" data-title="${text("编辑商户银行卡")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("卡号")}', name:'no', index:'a.no', width:150, align:"left"},
		{header:'${text("开户行")}', name:'bank', index:'a.bank', width:150, align:"left"},
		{header:'${text("商户Id")}', name:'businessId', index:'a.business_id', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('nb:nbCard:edit')){ %>
				actions.push('<a href="${ctx}/nb/nbCard/form?id='+row.id+'" class="btnList" title="${text("编辑商户银行卡")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/nb/nbCard/delete?id='+row.id+'" class="btnList" title="${text("删除商户银行卡")}" data-confirm="${text("确认要删除该商户银行卡吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>